* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

body {
    z-index: 2;
    position: relative;
}

#ImagemFundo {
    background-image: url(Imagens/uniamerica.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#ImagemFundo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 247, 41, 0.5);
    z-index: 1;
}

header {
    background-color: black;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

#cima {
    background-color: black;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0px;
}

#sla {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100vw;
    z-index: 2;
    height: 100px;
    cursor: pointer;
}

#Nome {
    position: flex;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 10px;
    height: 50px;
}

#corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #20055300;
    margin: auto;
    z-index: 2;
    position: relative;
}

#suporte {
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    position: relative;
    ;
}

#img-suporte {
    width: 80px;
    height: 40px;
}


#Nome h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.226);
}

#seletor {
    margin-top: 2pt;
    margin-left: 2pt;
    width: 360px;
    text-align: center;
}

#infoproblema,
#problema {
    display: flex;
    justify-content: center;
    align-self: start;
}

#infoproblema {
    margin: 10pt;
    justify-content: start;
}

#problema {
    padding: 10px;
    font-size: 1.1em;
    font-family: Arial;
    outline: none;
    border: 1px solid #333;
    width: 100%;
    height: 150px;
    resize: none;
}

option {
    font-size: 15px;
    font-weight: bold;
}

span {
    color: white;
    padding-top: 5pt;
}

form {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 900pt;
}

label {
    padding: 10pt;
    color: white;
}


#anexar-arquivo {
    display: flex;
    justify-content: start;
    height: 30px;
    width: 125px;
    margin-left: 13pt;
}

#botao-arquivo {
    padding-top: 10pt;
    width: 110px;
    height: 110px;
}

#botao {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 35px;
}

#butaoEnviar {
    padding: 3pt;
    width: 75px;
}

#Suporte1{
cursor: pointer;
}