
/*Logo*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    display: flex;
    width: 250px;
    height: 100px;
    z-index: 2;
    
}


/*Plano de fundo*/
body{
    background: url(imagens/uniamerica.jpg) no-repeat right top fixed;
    background-attachment: fixed;

}   

/*Isso serve pra deixar a mascara verde*/
body::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(42, 254, 130, 0.5);
    z-index: 1;
    height: 140%;

}
/* E isso aqui é pra deixar o espaço-A do la do espaço-B*/
#container{
    display: flex;  
    justify-content: flex-start;
    margin-left: 2%;
    z-index: 2;
    position: relative;
}

/*Espaço em branco da esquerda*/
 #espaço-A{
    display: flex;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    width: 300px;    
    height: 780px;
    margin-top: 3%;  
    text-align: center;
    
  
}
#espaco-direita{
    display: flex;
    flex-direction: column;

}

#espaco-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 76vw;
    height: 7vw;
    margin-top: 42px;
    margin-left: 20px;
    font-weight: bold;
    
}

#ordem-de-chegada {
    display: flex;

}
#mudar-ordem-de-chegada{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#ordem-de-prioridade{
    display: flex;
}

#resetar-filtros {
    display: flex;
}

#area-da-faculdade{
    display: flex;
}

select {
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 30px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    appearance: none; /* Remove o estilo padrão */
    webkit-appearance: none;
    moz-appearance: none;
    cursor: pointer;
}

/* Ajustes para o contêiner do select */
select:focus {
    border-color: #000000; /* Cor de destaque ao focar */
    outline: none;
    background-color: #d2d2d2;
}

#tickets{
    display: flex;
    align-items: center;
    background-color: rgb(187, 183, 183);
    height: 50px;
}

/*Espaço em branco da direita*/
#espaço-B{
    display: flex;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    width: 1140px;
    height: 660px;
    margin-top: 10%;
    margin-left: 20px;
    justify-content: center;
    margin-top: 20px;


}


#criar-ticket{
    margin-top:3vw;
    display: flex;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 60px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, 0.504);
    
}

#ticket-em-andamento{
    margin-top:3vw;
    display: flex;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 2px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, 0.504);
}



#tickets-finalizados{
    margin-top:3vw;
    display: flex;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 25px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, 0.504);

}



#historicos-de-tickets{
    margin-top:3vw;
    display: flex;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, 0.504);

}

#verificar-protocolos{
    margin-top:3vw;
    display: flex;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, 0.504);

}




#icone-suporte{
    display: flex;
    width: 20px;
    height: 50px;
    margin-top: 120px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#criar-ticket, #ticket-em-andamento, #tickets-finalizados,#historicos-de-tickets, #verificar-protocolos 
{
    text-decoration: none;
}